body {
    background-color: #02010a;
    font-family: 'Dancing Script';
    font-size: 16px;
    margin: 0;
    padding: 0;
}

.contenido {
    max-width: 900px;
    margin: 15px auto;
    display: flex;
    flex-direction: column;
}

.cabecera {
    background-color: #5b7989;
    border-radius: 10px 10px 0 0;
    padding: 0 15px 0 15px;  
}

.titulo{
    float: left;
}

.menu {
    float: right;
}

.menu li {
    float: left;
    margin-left: 8px;
    list-style: none;
    line-height: 30px;
}

.menu a {
    color: #ffffff;
    font-size: 18px;
}

.menu a:active{
    text-decoration: none;
}

.titulo h1 {
    color: #ffffff;
    text-shadow: 2px 2px #02010a;
    font-size: 32px;
}

.seccion-central {
    background-color: #82c3a6;
}

.imagen-principal img, .imagen-uno img, .imagen-dos img, .galeria img {
    display: block;
    margin: 0 auto;

}

.imagen-uno img, .imagen-dos img, .galeria img {
    max-width: 80%;
    border:1px;
    box-shadow: 2px 2px #82c3a6;
}

.imagen-uno img:hover {
    transform: rotate(10deg);
}

.imagen-dos img:hover{
    transform: translate(20px, -5px);
}

.imagen-principal img{
    max-width: 100%;
}

.imagen-uno, .imagen-dos {
    text-align: center;
    margin-bottom: 20px;
}

.link a{
    color: black;
    font-size: 21px;
}

.link a:hover{
    text-decoration: none;
}

.contenedor-img {
    display: flex;
    flex-direction: row;
}

.seccion-secundaria {
    background-color: #d5c75f;
}

.item {
    color: #000000;
    font-size: 16px;
}

.contenido-footer {
    display: flex;
    flex-direction: row;
    text-align: center;
    padding: 10px;
    border-radius: 0 0 10px 10px;
    background-color: #c6d5c5;
}

.contenido-footer h2 {
    margin: 0;
    padding: 0;
    
}

.item {
    width: 25%;
}

.item ul {
    padding: 15px 0 0 0;
    margin: 0;
}

.item li {
    list-style: none;
}

.item a {
    text-decoration: none;
    color:  #000000;
}

.item a:hover {
    color: blue;
}

/*EFECTO GALERIA*/
.img-1 {
    filter: blur(10px);
}

.img-3 {
    filter: sepia(90%);
}

.img-2, .img-4, .img-6 {
    filter: grayscale(100%);
}


@media (max-width: 900px){

    .contenedor-img{
        flex-direction: column;
    }

    .imagen-uno img, .imagen-dos img {
        max-width: 100%;
    }

    .contenido {
        max-width: 100%;
    }

    .contenido-footer {
        flex-direction: column; 
    }

    /*FOOTER*/
    .item {
        text-align: left;
        margin-bottom: 25px;
    }

    /*CABECERA*/
    header {
        display: flex;
        flex-direction: column;
    }

    .titulo h1 {
        text-align: center;
    }

    .menu {
        margin: 0 auto;
    }
    
}